html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like{
    filter: none;
}

.clicked{
    animation: .5s like-clicked forwards;
}

@keyframes like-clicked{
    10%{
        filter: invert(30%) sepia(71%) saturate(2000%) hue-rotate(208deg) brightness(100%) contrast(90%);
    }
    35%, 60%{
        transform: scale(1.25) rotate(-15deg);
    }
    
    50%{
        filter: invert(30%) sepia(71%) saturate(2000%) hue-rotate(208deg) brightness(200%) contrast(90%);
    }
    100%{
        filter: invert(30%) sepia(71%) saturate(2000%) hue-rotate(208deg) brightness(100%) contrast(90%);
    }
    
}